body {
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 20px;
    margin: 10px 0;
}

#screenshot-image {
    max-width: 100%;
    border: 1px solid #ccc;
}

#capture-button {
    margin: 10px 0;
    padding: 10px 20px;
    background-color: #0074d9;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

#capture-button:hover {
    background-color: #0056b3;
}

input {
    width: 75%;
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #ccc;
}

#ocr-button {
    margin: 10px 0;
    padding: 10px 20px;
    background-color: #0074d9;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

#ocr-button:hover {
    background-color: #0056b3;
}

#extracted-text {
    margin: 10px 0;
    font-size: 14px;
    white-space: pre-wrap;
}

#screenshotContainer{
    position: relative;
    display: inline-block;
    width: 778px;
    background-color: rgb(242, 242, 255);
}

#selected-area {
    position: absolute;
    border: 2px solid red;
    pointer-events: none;
    display: none;
}

.coordinates {
    margin: 10px 30px;
    padding: 10px 0;
    background-color: rgb(242, 242, 255);
    display: flex;
    flex-wrap: wrap;
}

.value {
    flex: 1;
    text-align: center;
}

.coordinates h3 {
    margin: 10px 0 0 0;
}